/*CSS RESET*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

:root {
  --general-text-color: #4d4d4f;
}

body {
  background:
    radial-gradient(103.89% 81.75% at 95.41% 106.34%, #eaf8ef 6%, rgba(234, 248, 239, 0) 79.68%),
    radial-gradient(
      297.85% 151.83% at -21.39% 8.81%,
      #faf1f1 0%,
      #faf1f1 15.29%,
      #f3edf5 21.39%,
      #e5f0fa 40.79%
    );
}

h1 {
  font-size: clamp(20px, calc(2vw + 2rem), 75px);
  margin: 0;
  color: #1b2a67;
  font-family: Segoe, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0 2px 0 #fff;
}

h2 {
  font-size: clamp(20px, calc(2vw + 0.3rem), 65px);
  margin: 0;
  color: #1b2a67;
  font-family: Segoe, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0 1px 0 #fff;
}

#main_box {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.body_text {
  font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';
  font-size: 1em;
  color: #000;

  & a {
    color: rgb(158, 3, 158);
  }

  & a:hover {
    color: purple;
  }
}

.project_title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  text-align: center;
  color: var(--general-text-color);
  padding: 5px;
  padding-top: 7px;
  text-decoration: none;
}

.main_card_holder {
  margin: 0 auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  row-gap: 40px;
  transition: all 0.5s;
  margin-bottom: 50px;

  &.featured {
    width: 60%;
    margin-bottom: 20px;
    margin-top: 0;
    grid-template-columns: 1fr 1fr;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    @media (width<700px) {
      width: 90%;
      grid-template-columns: 1fr;
      /* margin-bottom: 0; */
    }

    @media (width<600px) {
      width: 95%;
    }
  }

  @media (width<1350px) {
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
  }
  @media (width<950px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (width<600px) {
    grid-template-columns: 1fr;
    width: 95%;

    row-gap: 30px;
  }
}

.tier2 {
  content-visibility: auto;
  animation-name: fadeIn;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.block_holder {
  height: 200px;
  color: var(--general-text-color);
  border: 2px solid white;
  overflow: hidden;
  border-radius: 10px;
  text-decoration: none;
  box-shadow:
    0.6px 1.1px 3.9px rgb(0 0 0 / 4%),
    5px 9px 31px rgb(0 0 0 / 10%);
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid transparent;
  transition: all 0.5s;

  &.featured {
    height: 300px;
  }

  &:hover {
    border: 1px solid rgb(161, 104, 161);
    color: #000;
    box-shadow:
      0.6px 1.1px 3.9px rgb(0 0 0 / 5%),
      5px 9px 31px rgb(0 0 0 / 11%);
    text-decoration: underline;
  }
}

.the_image {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
}

.testimonials {
  font-size: 2rem;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  transition: all 0.5s;

  @media (width<1200px) {
    width: 80%;
    font-size: 1.5rem;
  }
}

.page_wrapper {
  transition: all 0.5s;
  margin: 0 auto;
  width: 80%;
  @media (width<1000px) {
    width: 90%;
  }
}

button {
  padding: 0;
  cursor: pointer;
}

.p-dialog-header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project_detail {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  padding-left: 15px;
  padding-right: 15px;
  gap: 30px;

  & img {
    width: 100%;
    border: 1px solid lightgrey;
    place-self: flex-start;
    margin-bottom: 30px;
  }

  @media (width<670px) {
    grid-template-columns: 1fr;

    & img {
      border: 1px solid lightgrey;
      margin-bottom: 0;
    }
  }
}

.close_button {
  display: flex;
  background: purple !important;
  color: #fff !important;
  border-radius: 5px;
  font-size: 1rem;
  border: none !important;
  border-bottom: 3px solid rgb(85, 9, 85) !important;
  padding: 5px 11px;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: all 0.2s ease-out;
  outline: 1px solid rgb(144, 44, 202) !important;
  font-family:
    Segoe,
    Segoe UI,
    DejaVu Sans,
    Trebuchet MS,
    Verdana,
    sans-serif !important;
  /* text-shadow: #000 1px 1px 1px; */

  &:hover {
    background: rgb(139, 1, 139) !important;
    box-shadow:
      0.6px 1.1px 3.9px #00000016,
      3px 4px 15px #00000026;
  }

  &:active {
    top: 1px;
    left: 1px;
  }
}

.p-button-rounded:not(.p-dialog-close-button) {
  background: purple !important;
  outline: 1px solid rgb(144, 44, 202) !important;
  border: 0 !important;
  border-bottom: 3px solid rgb(85, 9, 85) !important;
  &:hover {
    background: rgb(139, 1, 139) !important;
    box-shadow:
      0.6px 1.1px 3.9px #00000016,
      3px 4px 15px #00000026;
  }

  &:active {
    opacity: 0.8;
  }
}

.project_summary {
  font-weight: bold;
  /* font-size: 1rem; */
  margin-bottom: 10px;
  /* float: left; */
}

.professional_summary {
  width: 60%;
  font-size: 1rem;
  color: #2c032e;
  border: 1px solid lightgrey;

  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 5px;
  background: hsla(0, 0%, 100%, 0.274);
  box-shadow:
    0.6px 1.1px 3.9px #2f025316,
    3px 4px 15px #470ba726;

  @media (width<1000px) {
    width: 90%;
  }
}

.mobile_show {
  display: none;

  @media (width<670px) {
    display: block;
  }
}
.keep_em_seperated {
  height: 20px;
  border-top: 1px solid rgba(158, 146, 158, 0.295);
  display: block;
  margin-top: 50px;
  background-image: radial-gradient(
    ellipse at 42% -50%,
    lch(100% 0.01 296.81 / 0.664),
    transparent
  );
}

.project_link {
  margin-top: 10px;
}

.socials {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

  /* margin-bottom: 30px; */
  align-content: center;
  justify-content: center;
  gap: 10px;
  font-size: 0.8rem;
  transition: all 0.2s;
  text-align: center;

  margin-top: 21px;

  @media (width<600px) {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }

  @media (width<370px) {
    flex-direction: column;
    gap: 0;
  }
  & li {
    /* flex: 1; */
  }
  & a {
    color: #993199;
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

    gap: 9px;
    border: 1px solid #e7e7e7;
    border-top: 1px solid #f8f8f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s;
    height: 100%;
    &:hover {
      color: purple;
      border: rgb(224, 220, 233) 1px solid;
    }

    &:hover span {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.8;
    }

    @media (width<600px) {
      gap: 5px;
      justify-content: center;
    }
  }
}

.email {
  margin-bottom: 40px;
  margin-top: 5px;

  & a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(161, 13, 161);
    font-weight: bold;
    font-size: 1.1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
